In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame([['R1', 5, 6, 20],['R2', 5, 82, 28],['R3', 71, 31, 92],['R4', 67, 37, 49]],
                  columns=['rollno', 'a', 'b', 'c'])
df = df.set_index('rollno')

In [5]:
df

         a   b   c
rollno
R1       5   6  20
R2       5  82  28
R3      71  31  92
R4      67  37  49

In [6]:
f = lambda x: x.max() + x.min()
df_new = df.apply(f)
df_new

a     76
b     88
c    112
dtype: int64

In [7]:
df_new[1]

88